@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Indie+Flower&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.navbar{
  background-color: rgba(0, 0, 0, .5);
}

.footer{
  background-color: rgba(0, 0, 0, .6);
}

body{
  background-color: rgba(230, 230, 230, 1);
}

.rrss-img:hover{
  transform: scale(1.05);
  transition: .2s linear;
}

.c-link{
  transition: .2s linear;
  padding: 5px 10px;
}

.carousel-inner{
  height: 40vh;
}

.c-img{
  object-fit: cover;
}

.select{
  max-width: 1200px;
  margin: 0 auto;
}

.cards{
  max-width: 1400px;
  margin: 0 auto;
}

.card{
  width: 18rem;
  height: 35rem;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.4);
}

.card img{
  height: 230px;
  object-fit: cover;
}

.detail-p{
  margin: auto 0;
}

.card-text{
  text-align: justify;
}

.title{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 10px;
  font-family: "Gruppo", sans-serif;
}

.form-search{
  width: 35px;
  height: 35px;
  background-color: #fff;
  border-radius: 5px;
  border: none;
}

/*  contact  */

.contact__form{
  max-width: 600px;
  margin: 50px auto;
  border: 1px solid white;
  border-radius: 10px;
}

/*  stats  */

.table{
  max-width: 1200px;
}

th, td{
  border: 1px solid black;
}

td{
  height: 40px;
}

/*  details  */

.details-div{
  background-color: rgba(0, 0, 0, .1);
  max-width: 1000px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 50px;
  gap: 5px;
}

.details-img{
  width: 60%;
  height: 50vh;
}

.details-img img{
  border-radius: 10px;
  box-shadow: 0px 0px 20px gray;
  min-width: 15rem;
}

.details-data{
  background-color: white;
  border-radius: 10px;
  width: 40%;
  min-width: 15rem;
  height: 48vh;
}

.details-data span{
  font-weight: bold;
}

.details-data li{
  list-style: none;
}

.details-data p{
  font-size: 1.7rem;
  font-family: "Gruppo", sans-serif;
}

